In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine  = create_engine(f"postgresql://postgres:Abdulaziz1993@localhost:5432/dvdrental")

In [3]:
tables = pd.read_sql_query("""SELECT table_name FROM INFORMATION_SCHEMA.TABLES
WHERE is_insertable_into = 'YES' AND table_schema = 'public';""", engine)['table_name']

In [4]:
for table in tables.values:
    query = f"SELECT column_name, data_type FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name = {table};"
    pd.read_sql_query(query, engine)
    print(query)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "customer" does not exist
LINE 1: ...FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name = customer;
                                                              ^

[SQL: SELECT column_name, data_type FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name = customer;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [5]:
def getSqlQuery(query):
    return pd.read_sql_query(query, engine)

In [6]:
# getting all sql tables
actor = getSqlQuery('SELECT * FROM actor;')
address = getSqlQuery('SELECT * FROM address;')
category = getSqlQuery('SELECT * FROM category;')
city = getSqlQuery('SELECT * FROM city;')
country = getSqlQuery('SELECT * FROM country;')
customer = getSqlQuery('SELECT * FROM customer;')
film = getSqlQuery('SELECT * FROM film;')
film_actor = getSqlQuery('SELECT * FROM film_actor;')
film_category = getSqlQuery('SELECT * FROM film_category;')
inventory = getSqlQuery('SELECT * FROM inventory;')
language = getSqlQuery('SELECT * FROM language;')
payment = getSqlQuery('SELECT * FROM payment;')
rental = getSqlQuery('SELECT * FROM rental;')
staff = getSqlQuery('SELECT * FROM staff;')
store = getSqlQuery('SELECT * FROM store;')

## This code will do the exact same thing:
# for table in tables.values:
    # exec(f"{table} = getSqlQuery(f'SELECT * FROM {table}')")


## or as a dictionary:
#dictOfTables = {}
#for table in tables.values:
    #dictOfTables[table] = getSqlQuery(f'SELECT * FROM {table}')

In [48]:
# film_dim
film_dim = pd.DataFrame()
film_dim['film_id'] = film['film_id']
film_dim['title'] = film['title']
film_dim['description'] = film['description']
film_dim['release_year'] = film['release_year']
film_dim['language_id'] = film['language_id']
film_dim['rental_duration'] = film['rental_duration']
film_dim['rental_rate'] = film['rental_rate']
film_dim['length'] = film['length']
film_dim['replacement_cost'] = film['replacement_cost']
film_dim['rating'] = film['rating']
film_dim['last_update'] = film['last_update']
film_dim['special_features'] = film['special_features']
film_dim['fulltext'] = film['fulltext']
film_dim['category_id'] = pd.merge(film_dim, film_category, on='film_id')['category_id']
film_dim['film_last_update'] = film['last_update']
film_dim['category_name'] = pd.merge(film_dim, category, on='category_id', how='left')['name']

# film_dim[''] = film['']
# film_dim[''] = film['']
# film_dim[''] = film['']
# film_dim[''] = film['']
# film_dim[''] = film['']
# film_dim[''] = film['']
# film_dim[''] = film['']
# film_dim[''] = film['']
# film_dim[''] = film['']
# film_dim[''] = film['']

# film_dim[film_dim.isna().any(axis=1)]

film_dim.head(40)

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,last_update,special_features,fulltext,category_id,film_last_update,category_name
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,2013-05-26 14:50:58.951,[Trailers],'chamber':1 'fate':4 'husband':11 'italian':2 ...,12,2013-05-26 14:50:58.951,Music
1,384,Grosse Wonderful,A Epic Drama of a Cat And a Explorer who must ...,2006,1,5,4.99,49,19.99,R,2013-05-26 14:50:58.951,[Behind the Scenes],'australia':18 'cat':8 'drama':5 'epic':4 'exp...,12,2013-05-26 14:50:58.951,Music
2,8,Airport Pollock,A Epic Tale of a Moose And a Girl who must Con...,2006,1,6,4.99,54,15.99,R,2013-05-26 14:50:58.951,[Trailers],'airport':1 'ancient':18 'confront':14 'epic':...,11,2013-05-26 14:50:58.951,Horror
3,98,Bright Encounters,A Fateful Yarn of a Lumberjack And a Feminist ...,2006,1,4,4.99,73,12.99,PG-13,2013-05-26 14:50:58.951,[Trailers],'boat':20 'bright':1 'conquer':14 'encount':2 ...,7,2013-05-26 14:50:58.951,Drama
4,1,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,2013-05-26 14:50:58.951,"[Deleted Scenes, Behind the Scenes]",'academi':1 'battl':15 'canadian':20 'dinosaur...,6,2013-05-26 14:50:58.951,Documentary
5,2,Ace Goldfinger,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,2013-05-26 14:50:58.951,"[Trailers, Deleted Scenes]",'ace':1 'administr':9 'ancient':19 'astound':4...,11,2013-05-26 14:50:58.951,Horror
6,3,Adaptation Holes,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,2013-05-26 14:50:58.951,"[Trailers, Deleted Scenes]",'adapt':1 'astound':4 'baloon':19 'car':11 'fa...,6,2013-05-26 14:50:58.951,Documentary
7,4,Affair Prejudice,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,2013-05-26 14:50:58.951,"[Commentaries, Behind the Scenes]",'affair':1 'chase':14 'documentari':5 'fanci':...,11,2013-05-26 14:50:58.951,Horror
8,5,African Egg,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,2013-05-26 14:50:58.951,[Deleted Scenes],'african':1 'chef':11 'dentist':14 'documentar...,8,2013-05-26 14:50:58.951,Family
9,6,Agent Truman,A Intrepid Panorama of a Robot And a Boy who m...,2006,1,3,2.99,169,17.99,PG,2013-05-26 14:50:58.951,[Deleted Scenes],'agent':1 'ancient':19 'boy':11 'china':20 'es...,9,2013-05-26 14:50:58.951,Foreign

In [46]:
mergedData = pd.merge(film_dim, category, on='category_id')
mergedData[mergedData['category_name'] != mergedData['name']]

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,last_update_x,special_features,fulltext,category_id,film_last_update,category_name,name,last_update_y
5,51,Balloon Homeward,A Insightful Panorama of a Forensic Psychologi...,2006,1,5,2.99,75,10.99,NC-17,2013-05-26 14:50:58.951,[Deleted Scenes],'balloon':1 'build':16 'cow':13 'first':22 'fo...,12,2013-05-26 14:50:58.951,Horror,Music,2006-02-15 09:46:27
6,54,Banger Pinocchio,A Awe-Inspiring Drama of a Car And a Pastry Ch...,2006,1,5,0.99,113,15.99,R,2013-05-26 14:50:58.951,"[Trailers, Commentaries, Deleted Scenes]",'awe':5 'awe-inspir':4 'banger':1 'car':10 'ch...,12,2013-05-26 14:50:58.951,Horror,Music,2006-02-15 09:46:27
7,74,Birch Antitrust,A Fanciful Panorama of a Husband And a Pioneer...,2006,1,4,4.99,162,18.99,PG,2013-05-26 14:50:58.951,"[Trailers, Commentaries, Deleted Scenes]",'antitrust':2 'baloon':19 'birch':1 'dog':16 '...,12,2013-05-26 14:50:58.951,Horror,Music,2006-02-15 09:46:27
8,76,Birdcage Casper,A Fast-Paced Saga of a Frisbee And a Astronaut...,2006,1,4,0.99,103,23.99,NC-17,2013-05-26 14:50:58.951,"[Commentaries, Deleted Scenes, Behind the Scenes]",'ancient':20 'astronaut':13 'birdcag':1 'caspe...,12,2013-05-26 14:50:58.951,Horror,Music,2006-02-15 09:46:27
9,86,Boogie Amelie,A Lacklusture Character Study of a Husband And...,2006,1,6,4.99,121,11.99,R,2013-05-26 14:50:58.951,"[Commentaries, Behind the Scenes]",'ameli':2 'boogi':1 'charact':5 'gulf':22 'hus...,12,2013-05-26 14:50:58.951,Horror,Music,2006-02-15 09:46:27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,883,Tequila Past,A Action-Packed Panorama of a Mad Scientist An...,2006,1,6,4.99,53,17.99,PG,2013-05-26 14:50:58.951,"[Commentaries, Behind the Scenes]",'action':5 'action-pack':4 'challeng':17 'mad'...,3,2013-05-26 14:50:58.951,Games,Children,2006-02-15 09:46:27
992,889,Ties Hunger,A Insightful Saga of a Astronaut And a Explore...,2006,1,3,4.99,111,28.99,R,2013-05-26 14:50:58.951,[Deleted Scenes],'astronaut':8 'boat':22 'explor':11 'hunger':2...,3,2013-05-26 14:50:58.951,Games,Children,2006-02-15 09:46:27
993,896,Tootsie Pilot,A Awe-Inspiring Documentary of a Womanizer And...,2006,1,3,0.99,157,10.99,PG,2013-05-26 14:50:58.951,"[Commentaries, Deleted Scenes, Behind the Scenes]",'awe':5 'awe-inspir':4 'berlin':21 'chef':14 '...,3,2013-05-26 14:50:58.951,Games,Children,2006-02-15 09:46:27
994,918,Twisted Pirates,A Touching Display of a Frisbee And a Boat who...,2006,1,4,4.99,152,23.99,PG,2013-05-26 14:50:58.951,"[Trailers, Commentaries, Deleted Scenes]",'boat':11 'convent':20 'display':5 'frisbe':8 ...,3,2013-05-26 14:50:58.951,Games,Children,2006-02-15 09:46:27
995,928,Uptown Young,A Fateful Documentary of a Dog And a Hunter wh...,2006,1,5,2.99,84,16.99,PG,2013-05-26 14:50:58.951,[Commentaries],'abandon':19 'amus':20 'documentari':5 'dog':8...,3,2013-05-26 14:50:58.951,Games,Children,2006-02-15 09:46:27

In [ ]:
mergedData[mergedData['category_name'] != mergedData['name']]

In [45]:
film_dim['category_id'].replace(category['name'])

0              New
1              New
2            Music
3           Family
4            Drama
          ...
995          Drama
996            New
997          Music
998       Classics
999    Documentary
Name: category_id, Length: 1000, dtype: object

In [35]:
category

    category_id         name         last_update
0             1       Action 2006-02-15 09:46:27
1             2    Animation 2006-02-15 09:46:27
2             3     Children 2006-02-15 09:46:27
3             4     Classics 2006-02-15 09:46:27
4             5       Comedy 2006-02-15 09:46:27
5             6  Documentary 2006-02-15 09:46:27
6             7        Drama 2006-02-15 09:46:27
7             8       Family 2006-02-15 09:46:27
8             9      Foreign 2006-02-15 09:46:27
9            10        Games 2006-02-15 09:46:27
10           11       Horror 2006-02-15 09:46:27
11           12        Music 2006-02-15 09:46:27
12           13          New 2006-02-15 09:46:27
13           14       Sci-Fi 2006-02-15 09:46:27
14           15       Sports 2006-02-15 09:46:27
15           16       Travel 2006-02-15 09:46:27